/*Global*/
html,body{
  height: 100%;
  font-family: 'Kanit', sans-serif;
}

#root, .App{
  height: 100%;
}

.color-winter{
  background-image: linear-gradient(#a1c4fd, #c2e9fb);
}

.color-whale{
  background-image: linear-gradient(#a3bded, #6991c7);
}

.color-eternal{
  background-image: linear-gradient(#09203f, #537895);
}

.color-azkaban{
  background-image: linear-gradient(black, #485563);
}

.Head-bar {
  background: white;
  background: #c5170e;
  height: 70px;
  width: 1000px;
}

.Head-bar .text{
  padding-top: 20px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.Question-text {
  padding-left: 20px;
  width: 1000px;
}

/*Override_fontawesome*/
.svg-inline--fa {
  color: white;
}

/*Util_indent_tree*/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/*Util_indent_tag*/
.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}


.understandGraph svg{
  border: solid 1px;
  width: 1000px;
}

/*.understandGraph svg g{
  fill: none;
}*/

/*Util_table_tool*/
.understandGraph .block {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  float: left;
}

/*App*/
.App-container {
  height: 100%;
}

/*Signup*/
.Signup-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.Signup-form {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;
  grid-column: 2 / span 1;
}
.Signup-label {
  grid-column: 3 / span 2;
  margin-top: 5px;
  margin-left: 5px;
}

.Signup-input-field {
  grid-column: 4 / span 2;
  margin-top: 5px;
  margin-left: 5px;
}

.Signup-button {
  grid-column: 4 / span 2;
  margin-top: 5px;
  margin-left: 5px;
}

/*Login*/
.Login-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid grid-template-rows: 33% 33% 33%;
  padding: 10px;
}

.Login-container > img {
  grid-column: 1 / span 1;
  grid-row: 1/span 3;
  width: 100%;
}

@media (min-width: 601px){
  .Login-form {
    display: grid;
    grid-template-columns: 100px 400px;
    padding: 10px;
    grid-column: 2 / span 1;
    grid-row: 2/span 3;
    height: 10%;
  }
}

@media (min-width: 601px){
  .Login-form > label{
    grid-column: 1 / span 1;
  }
}

@media (min-width: 601px){
  .Login-input-field {
    grid-column: 2 / span 1;
    margin-top: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 601px){
  .Login-button {
    grid-column: 2 / span 1;
    margin-top: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 601px){
  .Login-form {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column: 2 / span 1;
    grid-row: 2/span 3;
    height: 10%;
  }
}

@media (max-width: 601px){
  .Login-form > label{
    grid-column: 1 / span 1;
  }
}

@media (max-width: 601px){
  .Login-input-field {
    grid-column: 2 / span 1;
    margin-top: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 601px){
  .Login-button {
    grid-column: 2 / span 1;
    margin-top: 5px;
    margin-left: 5px;
  }
}
/*Dashboard*/
.Dashboard-container {
  /*display: grid;
  grid-template-columns: auto auto auto auto;*/
  /*grid-template-rows: 230px 230px 230px 230px 230px 230px 230px;*/
/*  grid-template-rows: 50% 50%;
  height: 100%;*/
/*  padding-left: 10%;
  padding-right: 10%;*/
}

.Dashboard-container img {
  /*height: 100%;*/
  /*vertical and centre*/
  height: 100%;
  /*width: 100%;*/
  float: left;
  position: absolute;
  /*height: 100%;*/
  /*display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;*/
  /*grid-column: span 2;
  grid-row: span 1;*/
}

.Dashboard-overlay {
    width: 200px;
    height: 100px;
    background: white;
    position: absolute;
    background: #c5170e;
}

.Dashboard-overlay > .text {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*Understand*/
.Understand-container {

}

.Understand-test-part {
  width: 1000px;
  min-width: 1000px;
  max-width: 1000px;
  height: 100%;
  float: left;
}

.Understand-progress-box {
  width: 500px;
  min-width: 500px;
  height: 100%;
  border: solid 1px;
  float: left;
  margin-left: 50px;
  background-color: #c5170e;
}

.Understand-progress-bar {
  width: 500px;
  min-width: 500px;
  height: 50px;
  border: solid 1px;
  float: left;

  padding-top: 20px;
  /*padding-left: 10px;*/
}

.Understand-progress-bar svg{
  margin-left: 20px;
}